@using SudokuDeTodos.StringResx;
@model SudokuDeTodos.Models.Sistema.Respuesta

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/global.css" rel="stylesheet" />
<script src="../Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="../Content/js/global.js" type="text/javascript"></script>
<script src="../Content/js/message.js" type="text/javascript"></script>


@{
    ViewBag.Title = "";
}

<input type="hidden" id="mail" name="mail">

<div class="divEmail">
    @using (Html.BeginForm("PasswordModification", "Home", FormMethod.Post, new { name = "frmPasswordModification", id = "frmPasswordModification" }))
    {
        <div style="margin-left:10%;">
            <h4 class="text-success"> @Resources.ModificarContraseña</h4>
            <label class="checkbox-inline"><input type="checkbox" id="chxNoSoy" name="chxNosoy" class="btn btn btn-default active" required oninvalid="setCustomValidity('@Resources.ChxRequerido')" oninput="setCustomValidity('')" /> @Resources.NoSoyUnRobot </label>
        </div>
        <input type="text" id="codigo" name="codigo" placeholder="@Resources.IngreseCodigoDeVerificacion" class="boxTxt form-control" required oninvalid="setCustomValidity('@Resources.Requerido')" oninput="setCustomValidity('')" /><br />
        <input type="email" id="email" name="email" placeholder="@Resources.IngreseEmail" class="boxTxt form-control" required oninvalid="setCustomValidity('@Resources.EmailRequerido')" oninput="setCustomValidity('')" /><br />
        <label id="msjEmail" class="validacionField"></label>
        <input type="password" id="password" name="password" placeholder="@Resources.IngreseContraseña" class="boxTxt form-control" required oninvalid="setCustomValidity('@Resources.ContraseñaRequerida')" oninput="setCustomValidity('')" />
        <label id="msjPassword" class="lblMsj">@Resources.FormatContraseña</label><br />
        <input type="password" id="password2" name="password2" placeholder="@Resources.ConfirmeContraseña" class="boxTxt form-control" required oninvalid="setCustomValidity('@Resources.ContraseñaRequerida')" oninput="setCustomValidity('')" />
        <label id="validacion" class="validacionField"></label><br />

        <input type="submit" id="sendMail" name="sendMail" value="@Resources.Enviar" class="btn btn-success voton" />
    }
    <br /><br /><br /><br /><br /><br /><br /><br />
    <p style="font-size:smaller;">@Resources.AceptarCondicion</p>
</div>

<script>
    $(document).ready(function () {
        TraductorHide();
        OcultarObjeto('entrar');
        OcultarObjeto('traductor');
        OcultarObjeto('olvidoPassword');
        document.documentElement.style.overflowX = 'hidden';
        GetEmailSession('EMAIL');
        OPenModalIndicada(@Model.Id);
    });

    $("#frmPasswordModification").submit(function (e) {

            var email = $('#mail').val();
            var email2 = $('#email').val();
            if (email != email2) {
                document.getElementById('msjEmail').innerHTML = '@Resources.UsarMismoEmail';
                document.getElementById('msjEmail').style.display = 'block';
                e.preventDefault();
                setTimeout(OcultarUsarMismoEmail, 4000);
                return false;
            }

            var a = $('#password').val();
            var b = $('#password2').val();
            if (a.indexOf(' ') !== -1) {
                CancelarSubmit(e, '@Resources.ContraseñaDebeEspacioBlanco')
                return false;
            }
            if (a.length < 10) {
                CancelarSubmit(e,'@Resources.FormatContraseña')
                return false;
            }
            if (a != b) {
               CancelarSubmit(e,'@Resources.ContraseñaDebeIdentica')
               return false;
            }

            var mayuscula = false;
            var minuscula = false;
            var numero = false;
            for(var i = 0; i < a.length; i++)
            {
               if(a.charCodeAt(i) >= 65 && a.charCodeAt(i) <= 90)
                   mayuscula = true;
               else if(a.charCodeAt(i) >= 97 && a.charCodeAt(i) <= 122)
                   minuscula = true;
               else if(a.charCodeAt(i) >= 48 && a.charCodeAt(i) <= 57)
                   numero = true;
            }

            if (minuscula === false && mayuscula === false) {
                CancelarSubmit(e,'@Resources.ContraseñaDebeLetra')
                return false;
            }
            if (numero === false) {
                CancelarSubmit(e,'@Resources.ContraseñaDebeNumero')
                return false;
            }
        });

        function CancelarSubmit(e, msj) {
          document.getElementById('validacion').innerHTML = msj;
          document.getElementById('validacion').style.display = 'block';
          e.preventDefault();
          setTimeout(OcultarValidacion, 4000);
        }   
     
</script>
