@using SudokuForAll.StringResx;
@model SudokuForAll.Models.Sistema.Respuesta

<script type="text/javascript" src="~/Content/js/EditPasswordNotify.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<link href="~/Content/css/Global.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

@{
    ViewBag.Title = "";
}

@Html.Hidden("code", Model.CodigoResetPassword)
<div id="logeo" align="center" class="logeo">

    <h4 class="text-primary" id="lblTexto">@Model.Descripcion</h4>
    <input type="email" id="email" name="email" placeholder="@Resources.IngreseEmail" required class="form-control" style="text-align:center;" />
    <input type="text" id="codigoReset" name="codigoReset" placeholder="@Resources.IngreseCodigoDeVerificacion" required class="form-control" style="text-align:center;" /><br />
    <label class="checkbox-inline"><input type="checkbox" id="chxNoSoy" name="chxNosoy" required class="btn btn btn-default active" />@Resources.NoSoyUnRobot</label><br /><br />
    <input type="submit" id="sendData" name="sendData" value="@Resources.Enviar" class="btn btn-primary" style="width:13%;" onclick="SeleccionarProceso();" />
    <input type="submit" id="cancel" name="cancel" value="@Resources.Cancelar" class="btn btn-primary" style="width:13%;" onclick="IrIndex();" />

</div>

<script>
    let codigoReset = '@Model.CodigoResetPassword';
    if (codigoReset != '') {
        console.log(codigoReset);
        GetEmail();
        $('#codigoReset').show();
    }
    else {
        $('#codigoReset').hide();
    }
    $('#olvidoPassword').hide();
    OcultarObjeto('traductor');
    OcultarObjeto('entrar');
</script>

