@model SudokuForAll.Models.DbSistema.Producto

@{
    ViewBag.Title = "";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/Global.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/js/Global.js" type="text/javascript"></script>

<div id="crearProducto" class="text-primary divProducto">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                Nuevo Producto
            </h4>
        </div>

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,00" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Impuesto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Impuesto, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,00" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Moneda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Moneda, new SelectList(ViewBag.Moneda, "Id", "Nombre"), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estatus)
                        @Html.Label("txtEstatus", "Activar / Desactivar", new { @class = "caption" })
                    </div>
                </div>
            </div>

            <div>
                <br />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Crear" class="votones btn btn-primary" />
                <input type="button" value="Cancelar" onclick="Redirect();" class="votones btn btn-primary" />
            </div>

        </div>
    }

</div>
<script>
    OcultarObjeto('inicio');
    OcultarObjeto('entrar');
    OcultarObjeto('traductor');
    let respuesta = '@ViewBag.Respuesta'
    if (respuesta != '') {
        alert(respuesta + ' al crear nuevo producto');
    } 

    function Redirect() {
        DireccionSite('PayByPaypal', 'BusinessGame')
    }
</script>

